/* pages/6loading/6loading.wxss */
.box{
  height: 1400rpx;
  view{
    height: 200rpx;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 200rpx;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #aaa;
  }
}