/* pages/8vant/8vant.wxss */
.box1{
  --main-color:red;
  --main-back:yellow;

}
.box1{
  background-color: var(--main-back);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .box2{
    width: 120rpx;
    height: 60rpx;
    background-color: var(--main-color);
    border: 1px solid #ccc;
    }
}
.box3{
    //修改vant默认变量
    --button-danger-background-color:black;
    --button-danger-border-color:black;
}
